* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

.body_text_style {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    line-height: 140%;
    letter-spacing: 0;
}


.header {
    background: #111115;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.header_nav {
    display: inline;
    margin: 0 2%;
    font-weight: 500;
    text-align: left;
    align-self: center;
}

.header_logo {
    margin: 2%;
    width: 5em;
    display: block;
    font-size: 19px;
}

.header_logo_border {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 1%;
}

/* section1: watch online */

.section1_wrapper {
    width: 80%;
}

.section1_background_img {
    z-index: -1;
    width: 100%;
    height: auto;
    background-image: url("assets/Giant Panda.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}


.section1_title {
    padding: 5% 10%;
    font-weight: 700;
    font-size: 85px;
    line-height: 80%;
    text-transform: uppercase;
    width: 50%;
    margin-left: auto;

}

.section1_title:after {
    content: "";
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

span {
    color: #FFEE2E;
}

.section1_button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-clip: border-box;
    border-radius: 1em;
    font-weight: 500;
    text-transform: uppercase;
}

/*section 2*/
.section2_wrapper {
    width: 100%;
    align-items: center;
}

.section2_content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
}

.section2_content_right {
    margin: 2%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: left;
    color: #333B41;
}
.section2_img{
    width: 455px;
    height: 408px;
}

h1 {
    font-size: 48px;
    line-height: 58px;
}

h3 {
    font-size: 24px;
    line-height: 29px;
}

/*section 3: scroll animal*/

.section3_scroll {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.scroll_animal {
    border: 1px solid #FE9013;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 15px;

    text-transform: uppercase;
    color: #000000;
}

.scroll_img {
    width: 100%;
}

.scroll_animal_title {
    text-align: left;
    margin-left: 2%;
    font-weight: 700;
}

.scroll_animal_subtitle {
    text-align: left;
    margin-left: 2%;
}

.scroll_button_left {
}

.scroll_button_right {
}

.section3_footer {
    display: flex;
    justify-content: space-between;
}

.section3_button {
    background: #FE9013;
    border-radius: 1em;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 1%;
    height: min-content;
}

.section3_button_text {
    text-transform: uppercase;
}