body {
    margin: 0;
}

.header_desktop {
    background: #111115;
    width: 1000px;
    height: 80px;
    margin: 0 auto;
}

nav {

}

ul {
    margin: 0;
    padding: 14px 30px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.header_nav {
    display: inline;
    padding: 0 24px;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    align-self: center;
}

.header_logo {
    padding: 0 39px 0 0;
    display: inline-block;
    align-items: center;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 350;
    line-height: 23px;
    letter-spacing: 0;
    text-align: center;
}

.header_logo_br {
    padding: 4px 5px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

/* section1: watch online */
.sec1_watch_online {
    background-image: url("./assets/Giant Panda.jpg");
    background-repeat: no-repeat;
    width: 1000px;
    height: 504px;
    margin: 0 auto;
}

.sec1_wrapper {
    height: 504px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.sec1_figure {
    width: 367px;
    height: 367px;
    position: absolute;
    margin: -10px 177px 148px 456px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.sec1_title {
    margin: 43px auto;
    width: 400px;
    height: 320px;
    left: calc(50% - 400px / 2 + 214px);
    position: absolute;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 75%;
    /* or 64px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

span {
    color: #FFEE2E;
}

.sec1_button {
    width: 298px;
    height: 54px;
    left: calc(50% - 298px / 2 + 214px);
    top: 403px;
    position: absolute;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

/*section 2*/
.sec2_wrapper {
    width: 1000px;
    margin: 0 auto;
}

.sec2_content {
    padding: 100px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec2_content_right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 427px;
    padding: 0 0 0 30px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    color: #333B41;
}

h1 {
    margin: 0;
    font-size: 48px;
    line-height: 58px;
    font-weight: normal;
}

h3 {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
}

p {
    margin: 0;
}